body {
    font-family: Arial, sans-serif;
    background-color: #03071E;
    color: #CCCCCC;
    margin: 0;
    padding: 30px;

}

.container {
    background-color: #0E1328;
    padding: 25px;
    border-radius: 12px;
    max-width: 700px;
    width: 100%;
    margin: auto;
}

h1,
h2,
h3 {
    color: #F2F2F2;
}

label {
    display: block;
    margin-top: 1rem;
}

input,
textarea,
select {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    background: transparent;
    border: 1px solid #6B7280;
    border-radius: 12px;
    color: #CCCCCC;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background: #e85d04;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
}

.breadcrumb-button {
    margin-bottom: 20px;
}

a {
    color: #FFD166;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.output {
    margin-top: 40px;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color: #FFD166;
}